
              <h>Employee Login</h>
  <form method="post" >
    {% csrf_token %}
              <div class="form-outline mb-4">
                <input type="text" name="email" />
                <label class="form-label" for="typeEmailX-2">email ID</label>
              </div>
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password" />
                <label class="form-label" for="typePasswordX-2">Password</label>
              <button class="btn btn-primary btn-lg btn-block" value="Submit" type="submit">Login</button>
</form>
{% if error == "no" %}
<script>
    alert('Logged In Successful');
    window.location = "{% url 'home' %}";
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Invalid Credentials');

</script>
{% endif %}