

<div class="container">
    <div class="box1">
        <div class="roll1">
         <a href="{% url 'adddepartment' %}">
             ADD DEPARTMENT

         </a>
         
        </div>
        <div class="roll1">
             <a href="#">ADD EMPLOYEE</a href="#">
        </div>
        <div class="roll1">
            <a href="#">EMPLOYEE REPORT</a href="#">
        </div>
        <div class="roll1">
            <a href="#">LEAVE</a href="#">
        </div>
    </div>

    <div class="box2">
        <div class="roll2">
            <a href="#">SALARY</a href="#">
        </div>
        <div class="roll2">
             <a href="{% url 'salary_report' %}">SALARY REPORT</a href="#">
        </div>
        <div class="roll2">
            <a href="#">YEAR WISE REPORT</a href="#">
        </div>
        <div class="roll2">
            <a href="#">ADMIN LOGIN</a href="#">
        </div>
    </div>

    <div class="box3">
        <div class="roll3">
            <a href="#">CHANGE PASSWORD</a href="#">
        </div>
        <div class="roll3">
             <a href="#">LOGOUT</a href="#">
        </div>
        
    </div>
</div>