{% extends 'main.html' %}
{% load static %}


{% block title %}
    Add Department
{% endblock title %}




    

{% block extrahead %}
<link rel="stylesheet" href="{% static 'styles/showattendance.css' %}"/>


{% endblock extrahead %}

{% block nav %}
    {% include "navbar.html" %}
{% endblock nav %}

{% block content %}


<section class="section4">

    <h1>Attendance of All the Employee</h1>
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display:flex;flex-direction:row; margin-left:45px;">
      

    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style: none;">{{ message }}</li>
    {% endfor %}


      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    
    <div class="container4">
        <div class="card4">
            <div class="showdata">
             
                <table class="table">
                    <thead>
                      <tr>
                        <th>EmployeeName</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th class="action"  colspan="2">Action</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        
                        {% for empattendance in allAttendance%}
                            
                        <tr>
                         
                          <td>{{empattendance.empName}}</td>
                          <td>{{empattendance.date}}</td>
                          <td>{{empattendance.status}}</td>
                         
                          
                          <td><a href="{% url 'updateattendance' empattendance.id %} " class="update">Update</a></td>
                          {% comment %} <td><a href="{% url 'deleteattendance' empattendance.id %}" class="delete">Delete</a></td> {% endcomment %}
                          
                          
                        </tr>
                        {% endfor %}
                            
                      
                    </tbody>
                  </table>
            

            
        </div>
    </div>
</section>
{% endblock content %}
