{% extends 'main.html' %}
{% load static %}


{% block title %}
    Add Department
{% endblock title %}




    

{% block extrahead %}
<link rel="stylesheet" href="{% static 'styles/showemployee.css' %}"/>


{% endblock extrahead %}

{% block nav %}
    {% include "navbar.html" %}
{% endblock nav %}

{% block content %}


<section class="section">

    <h1>All the Department Here</h1>
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display:flex;flex-direction:row; margin-left:45px;">
      

    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style: none;">{{ message }}</li>
    {% endfor %}


      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    
    <div class="container">
        <div class="card">
            <div class="showdata">
             
                <table class="table">
                    <thead>
                      <tr>
                        <th>Department Name</th>
                        <th>Emp_Name</th>
                        <th>Emp_Address</th>
                        <th>Emp_PermanentAddr</th>
                        <th>Emp_City</th>
                        <th>Emp_Pincode</th>
                        <th colspan="3">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        
                        {% for empdata in empData%}
                            
                        <tr>
                         
                          <td>{{empdata.department}}</td>
                          <td>{{empdata.fullName}}</td>
                          <td>{{empdata.address}}</td>
                          <td>{{empdata.permanentAddr}}</td>
                          <td>{{empdata.city}}</td>
                          <td>{{empdata.pincode}}</td>
                          
                          <td><a href="{% url 'updateemployee' empdata.id %} " class="update">Update</a></td>
                          <td><a href="{% url 'deleteemployee' empdata.id %}" class="delete">Delete</a></td>
                          <td><a href="{% url 'empattendance' empdata.id %}" class="attendence">Attendence</a></td>
                          
                        </tr>
                        {% endfor %}
                            
                      
                    </tbody>
                  </table>
            

            
        </div>
    </div>
</section>
{% endblock content %}
