{% extends 'main.html' %}
{% load static %}


{% block title %}
    Add Department
{% endblock title %}



    

{% block extrahead %}
<link rel="stylesheet" href="{% static 'styles/addemployee.css' %}"/>
{% endblock extrahead %}

{% block nav %}
    {% include "navbar.html" %}
{% endblock nav %}
{% block content %}
<section class="section1">

    <h1>Edit Employee Data from Existing Data</h1>
    
    {% comment %} <button class="show_employee"><a href="{% url 'showemployee' %}">Show Employee</a></button> {% endcomment %}
    <div class="container1">
        <div class="card1">
            <div class="form shadow">
                
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                {% comment %} <div class="formdiv">

                    
                        <label for="">Upload Photo</label>
                        <!-- <label class="file"> -->
                            <input type="file" id="file" name="photo">
                        
                            <!-- <span class="file-custom">browser</span> -->
                        <!-- </label> -->
  
  
                </div> {% endcomment %}
            <!-- {{form.as_p}} -->
            
            <div class="formdiv">
                <label for="department">Department:</label>
                
                
                 
                <select name="department">
                    
                    {% for department in departmentData %}
                      <option class="option-select" value="{{ department }}">{{ department }}</option>
                    {% endfor %}
                </select>
                
               
                    
  
<!-- 
                <label for="">Department</label>
                <input type="text" name="department" id="" placeholder="Department Name"> -->
            </div>
          
            <div class="formdiv">
                
                <label for="">FullName</label>
                <input type="Text" name="fullname" id="" placeholder="FullName"  value="{{ postobj.fullName }}"/>
            </div>
            <div class="formdiv">
                
                <label for="">Address</label>  
                <input type="text" name="address" id="" placeholder="Enter Your Address" value="{{postobj.address}}">
            </div>
            <div class="formdiv">
                
                <label for="">Permanent Address</label>
                <input type="text" name="permanentaddress" placeholder="Enter your permanent Address" value="{{postobj.permanentAddr}}">
            </div>
            <div class="formdiv">
                
                <label for="">City</label>
                <input type="text" name="city" id="" placeholder="Enter your city" value="{{postobj.city}}">              
            </div>
            <div class="formdiv">
                
                <label for="">Pincode</label>
                <input type="text" name="pincode" id="" placeholder="Enter your Pincode" value="{{postobj.pincode}}">              
            </div>
            <div class="formdiv">
                
                <label for="">State</label>
                <input type="text" name="state" id="" placeholder="Enter your State" value="{{postobj.state}}
                ">              
            </div>
            <div class="formdiv">
                
                <label for="">Mobile</label>
                <input type="number" name="mobile" id="" placeholder="Enter your number" value="{{postobj.mobile}}">              
            </div>
            <div class="formdiv">
                
                <label for="">BankAccount No.</label>
                <input type="number" name="bankaccountno" id="" placeholder="Enter your Bank Account No." value="{{postobj.bankAccount}}">              
            </div>
            {% comment %} <div class="formdiv">

                    
                <label for="">Upload AdhaarCard</label>
                <!-- <label class="file"> -->
                    <input type="file" id="file" name="adhaarcard" >
                    <!-- <span class="file-custom">browser</span> -->
                <!-- </label> -->


        </div> {% endcomment %}
        {% comment %} <div class="formdiv">

                    
            <label for="">Upload PanCard</label>
            <!-- <label class="file"> -->
                <input type="file" id="file" name="pancard">
                <!-- <span class="file-custom">browser</span> -->
            <!-- </label> -->


    </div> {% endcomment %}
            <div class="formdiv">
                
                <label for="">Email</label>
                <input type="text" name="email" id="" placeholder="Enter Employee Email" value="{{postobj.email}}">              
            </div><div class="formdiv">
                
                <label for="">Password</label>
                <input type="text" name="password" id="" placeholder="Enter your Password" value="{{postobj.pasword}}">              
            </div>
            <button type="submit" class="btn1 btn-success">Update Employee</button>

            </form>
        </div>
    </div>
</section>
{% endblock content %}
    
    