{% extends 'main.html' %}
{% load static %}


{% block title %}
    Add Department
{% endblock title %}



    

{% block extrahead %}
<link rel="stylesheet" href="{% static 'styles/adddepartment.css' %}"/>
{% endblock extrahead %}

{% block nav %}
    {% include "navbar.html" %}
{% endblock nav %}
{% block content %}
<section class="section">

    <h1>Update Old DipartMent To New Department</h1>
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display:flex;flex-direction:row; margin-left:45px;">
      

    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style: none;">{{ message }}</li>
    {% endfor %}


      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    {% comment %} <button class="show_department"><a href="{% url 'showdepartment' %}">Show Department</a></button> {% endcomment %}
    <div class="container">
        <div class="card">
            <div class="form shadow">
                
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            <div class="formdiv">

                <label for="">Department Name</label>
                <input type="text" name="department" id="" placeholder="Department Name" value={{postobj.departmentName}}>
            </div>
            <div class="formdiv">
                
                <label for="">Basic Pay</label>
                <input type="number" name="basicpay" id="" placeholder="Basic Pay" value={{postobj.basicPay}}>
            </div>
            <div class="formdiv">
                
                <label for="">Travel Allowance</label>  
                <input type="number" name="travelallowance" id="" placeholder="Travel Allowance" value={{postobj.travelAllowance}}>
            </div>
            <div class="formdiv">
                
                <label for="">Medical Allowance</label>
                <input type="number" name="medicalallowance" placeholder="Medical Allowance" value={{postobj.medicalAllowance}}>
            </div>
            <div class="formdiv">
                
                <label for="">Washing Allowance</label>
                <input type="number" name="washingallowance" id="" placeholder="Washing Allowance" value={{postobj.washingAllowance}}>              
            </div>
            <button type="submit" class="btn btn-success">Add Department</button>

            </form>
        </div>
    </div>
</section>
{% endblock content %}
    
    