<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
   

    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <title>SideBar</title>
</head>
<body>
    <div class="header">
        <div class="side-nav">
            <a href="#" class="logo">
                <img src="{% static '/images/employeelogo.jfif' %}" alt="" width="45px" height="45px" class="logo-img" >
                <img src="{% static '/images/employeelogo.jfif' %}" alt="" width="45px" height="45px" class="logo-icon">

            </a>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}"><i class="fas fa-house-user" aria-hidden="true"></i><P>Dashboard</P></a></li>
                <li><a href="{% url 'adddepartment' %}"><i class="fa fa-user-plus" aria-hidden="true"></i><P>Add Department</P></a></li>
                <li><a href="{% url 'addemployee' %}"><i class="fa fa-bookmark-o" aria-hidden="true"></i><P>Add Employee</P></a></li>
                <li><a href="{% url 'showattendance' %}"><i class="fa fa-address-book-o" aria-hidden="true"></i><P>Attendance</P></a></li>
                <li><a href="{% url 'employeereport' %}"><i class="fa fa-imdb" aria-hidden="true"></i><P>Salary Report</P></a></li>
                <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i><P>Salary</P></a></li>
                <li><a href="#"><i class="fa fa-flag-checkered" aria-hidden="true"></i><P>Salary Report</P></a></li>
                <li><a href="#"><i class="fa fa-superpowers" aria-hidden="true"></i><P>Year Wise Report</P></a></li>
                <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i><P>Admin Login</P></a></li>
                <li><a href="#"><i class="fa fa-key" aria-hidden="true"></i><P>Change Password</P></a></li>
                <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i><P>Logout</P></a></li>
                <div class="active"></div>
            </ul>
        </div>
    </div>
</body>
</html>